In [2]:
import pandas as pd

In [3]:
brands= pd.read_csv('../Landing/brands/brands.csv')

In [4]:
brands.head()

   brand_id   brand_name                Extract Time    Source
0         1      Electra  2024-04-30 13:25:01.177623  datalake
1         2         Haro  2024-04-30 13:25:01.177623  datalake
2         3       Heller  2024-04-30 13:25:01.177623  datalake
3         4  Pure Cycles  2024-04-30 13:25:01.177623  datalake
4         5      Ritchey  2024-04-30 13:25:01.177623  datalake

In [5]:
brands.isnull().sum()

brand_id        0
brand_name      0
Extract Time    0
Source          0
dtype: int64

In [6]:
duplicate_count = brands.duplicated().sum()
print(duplicate_count)

0

In [7]:
import os

# Define the parent directory path
parent_directory = '../staging_1'

# Define the subdirectory path
subdirectory = 'brands'

# Create the parent directory if it doesn't exist
if not os.path.exists(parent_directory):
    os.makedirs(parent_directory)
    print(f"Parent directory '{parent_directory}' created.")

# Create the subdirectory if it doesn't exist
if not os.path.exists(os.path.join(parent_directory, subdirectory)):
    os.makedirs(os.path.join(parent_directory, subdirectory))
    print(f"Subdirectory '{subdirectory}' created.")

# Define the file path where you want to save the CSV file
file_path = os.path.join(parent_directory, subdirectory, 'brands.csv')

# Save the DataFrame as a CSV file
brands.to_csv(file_path, index=False)

print(f"CSV file saved successfully in the '{subdirectory}' subfolder within the '{parent_directory}' folder.")

CSV file saved successfully in the 'brands' subfolder within the '../staging_1' folder.