In [1]:
import pandas as pd

In [2]:
categories=pd.read_csv('../Landing/categories/categories.csv')

In [3]:
categories.head()

   category_id        category_name                Extract Time    Source
0            1    Children Bicycles  2024-04-30 13:25:01.131886  datalake
1            2     Comfort Bicycles  2024-04-30 13:25:01.131886  datalake
2            3    Cruisers Bicycles  2024-04-30 13:25:01.131886  datalake
3            4  Cyclocross Bicycles  2024-04-30 13:25:01.131886  datalake
4            5       Electric Bikes  2024-04-30 13:25:01.131886  datalake

In [4]:
categories.isnull().sum()

category_id      0
category_name    0
Extract Time     0
Source           0
dtype: int64

In [5]:
duplicate_count = categories.duplicated().sum()
print(duplicate_count)

0

In [6]:
import os

# Define the parent directory path
parent_directory = '../staging_1'

# Define the subdirectory path
subdirectory = 'categories'

# Create the parent directory if it doesn't exist
if not os.path.exists(parent_directory):
    os.makedirs(parent_directory)
    print(f"Parent directory '{parent_directory}' created.")

# Create the subdirectory if it doesn't exist
if not os.path.exists(os.path.join(parent_directory, subdirectory)):
    os.makedirs(os.path.join(parent_directory, subdirectory))
    print(f"Subdirectory '{subdirectory}' created.")

# Define the file path where you want to save the CSV file
file_path = os.path.join(parent_directory, subdirectory, 'categories.csv')

# Save the DataFrame as a CSV file
categories.to_csv(file_path, index=False)

print(f"CSV file saved successfully in the '{subdirectory}' subfolder within the '{parent_directory}' folder.")

CSV file saved successfully in the 'categories' subfolder within the '../staging_1' folder.