In [1]:
import pandas as pd

In [2]:
customers=pd.read_csv('../Landing/customers/customers.csv')

In [3]:
customers.head()

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,Extract Time,Source
0,1,Debra,Burks,NaN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-04-30 13:25:01.229172,datalake
1,2,Kasha,Todd,NaN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-04-30 13:25:01.229172,datalake
2,3,Tameka,Fisher,NaN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-04-30 13:25:01.229172,datalake
3,4,Daryl,Spence,NaN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-04-30 13:25:01.229172,datalake
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-04-30 13:25:01.229172,datalake

In [4]:
duplicate_count = customers.duplicated().sum()
print(duplicate_count)

0

In [5]:
customers.isnull().sum()

customer_id        0
first_name         0
last_name          0
phone           1267
email              0
street             0
city               0
state              0
zip_code           0
Extract Time       0
Source             0
dtype: int64

In [6]:
customers.shape

(1445, 11)

In [7]:
customers.drop(columns=['phone'], inplace=True)

In [8]:
'''
i dropped the phone column due to its high number of missing values
(1267 out of 1445 total entries) and its non-critical role in our analysis.
This simplifies our dataset and ensures that missing values do not compromise our results."'''

'\ni dropped the phone column due to its high number of missing values\n(1267 out of 1445 total entries) and its non-critical role in our analysis.\nThis simplifies our dataset and ensures that missing values do not compromise our results."'

In [9]:
import os

# Define the parent directory path
parent_directory = '../staging_1'

# Define the subdirectory path
subdirectory = 'customers'

# Create the parent directory if it doesn't exist
if not os.path.exists(parent_directory):
    os.makedirs(parent_directory)
    print(f"Parent directory '{parent_directory}' created.")

# Create the subdirectory if it doesn't exist
if not os.path.exists(os.path.join(parent_directory, subdirectory)):
    os.makedirs(os.path.join(parent_directory, subdirectory))
    print(f"Subdirectory '{subdirectory}' created.")

# Define the file path where you want to save the CSV file
file_path = os.path.join(parent_directory, subdirectory, 'customers.csv')

# Save the DataFrame as a CSV file
customers.to_csv(file_path, index=False)

print(f"CSV file saved successfully in the '{subdirectory}' subfolder within the '{parent_directory}' folder.")

CSV file saved successfully in the 'customers' subfolder within the '../staging_1' folder.