In [1]:
import pandas as pd

In [2]:
products=pd.read_csv('../Landing/products/products.csv')

In [3]:
products.head()

,product_id,product_name,brand_id,category_id,model_year,list_price,Extract Time,Source
0,1,Trek 820 - 2016,9,6,2016,379.99,2024-04-30 13:25:01.186140,datalake
1,2,Ritchey Timberwolf Frameset - 2016,5,6,2016,749.99,2024-04-30 13:25:01.186140,datalake
2,3,Surly Wednesday Frameset - 2016,8,6,2016,999.99,2024-04-30 13:25:01.186140,datalake
3,4,Trek Fuel EX 8 29 - 2016,9,6,2016,2899.99,2024-04-30 13:25:01.186140,datalake
4,5,Heller Shagamaw Frame - 2016,3,6,2016,1320.99,2024-04-30 13:25:01.186140,datalake

In [4]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    334 non-null    int64
 1   product_name  334 non-null    object
 2   brand_id      334 non-null    int64
 3   category_id   334 non-null    int64
 4   model_year    334 non-null    int64
 5   list_price    334 non-null    float64
 6   Extract Time  334 non-null    object
 7   Source        334 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 21.0+ KB

In [5]:
products.isnull().sum()

product_id      0
product_name    0
brand_id        0
category_id     0
model_year      0
list_price      0
Extract Time    0
Source          0
dtype: int64

In [6]:
duplicate_count = products.duplicated().sum()
print(duplicate_count)

13

In [7]:
products = products.drop_duplicates()

In [8]:
import os

# Define the parent directory path
parent_directory = '../staging_1'

# Define the subdirectory path
subdirectory = 'products'

# Create the parent directory if it doesn't exist
if not os.path.exists(parent_directory):
    os.makedirs(parent_directory)
    print(f"Parent directory '{parent_directory}' created.")

# Create the subdirectory if it doesn't exist
if not os.path.exists(os.path.join(parent_directory, subdirectory)):
    os.makedirs(os.path.join(parent_directory, subdirectory))
    print(f"Subdirectory '{subdirectory}' created.")

# Define the file path where you want to save the CSV file
file_path = os.path.join(parent_directory, subdirectory, 'products.csv')

# Save the DataFrame as a CSV file
products.to_csv(file_path, index=False)

print(f"CSV file saved successfully in the '{subdirectory}' subfolder within the '{parent_directory}' folder.")

CSV file saved successfully in the 'products' subfolder within the '../staging_1' folder.