In [1]:
import pandas as pd

In [2]:
stocks =pd.read_csv('../Landing/stocks/stocks.csv')

In [3]:
stocks.isnull().sum()

store_id        0
product_id      0
quantity        0
Extract Time    0
Source          0
dtype: int64

In [4]:
stocks.head()

   store_id  product_id  quantity                Extract Time    Source
0         1           1        27  2024-04-30 13:25:01.194061  datalake
1         1           2         5  2024-04-30 13:25:01.194061  datalake
2         1           3         6  2024-04-30 13:25:01.194061  datalake
3         1           4        23  2024-04-30 13:25:01.194061  datalake
4         1           5        22  2024-04-30 13:25:01.194061  datalake

In [5]:
duplicate_count = stocks.duplicated().sum()
print(duplicate_count)

0

In [6]:
import os

# Define the parent directory path
parent_directory = '../staging_1'

# Define the subdirectory path
subdirectory = 'stocks'

# Create the parent directory if it doesn't exist
if not os.path.exists(parent_directory):
    os.makedirs(parent_directory)
    print(f"Parent directory '{parent_directory}' created.")

# Create the subdirectory if it doesn't exist
if not os.path.exists(os.path.join(parent_directory, subdirectory)):
    os.makedirs(os.path.join(parent_directory, subdirectory))
    print(f"Subdirectory '{subdirectory}' created.")

# Define the file path where you want to save the CSV file
file_path = os.path.join(parent_directory, subdirectory, 'stocks.csv')

# Save the DataFrame as a CSV file
stocks.to_csv(file_path, index=False)

print(f"CSV file saved successfully in the '{subdirectory}' subfolder within the '{parent_directory}' folder.")

CSV file saved successfully in the 'stocks' subfolder within the '../staging_1' folder.