In [76]:
import pandas as pd

In [77]:
orders=pd.read_csv('../Landing/orders/orders.csv')

In [78]:
orders.head()

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,extract_time,source
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,2024-04-30 13:07:13.382187,postgres
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6,2024-04-30 13:07:13.382187,postgres
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7,2024-04-30 13:07:13.382187,postgres
3,4,175,4,2016-01-03,2016-01-04,2016-01-05,1,3,2024-04-30 13:07:13.382187,postgres
4,5,1324,4,2016-01-03,2016-01-06,2016-01-06,2,6,2024-04-30 13:07:13.382187,postgres

In [95]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1432 entries, 0 to 1477
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1432 non-null   int64
 1   customer_id    1432 non-null   int64
 2   order_status   1432 non-null   int64
 3   order_date     1432 non-null   datetime64[ns]
 4   required_date  1432 non-null   object
 5   shipped_date   1432 non-null   datetime64[ns]
 6   store_id       1432 non-null   int64
 7   staff_id       1432 non-null   int64
 8   extract_time   1432 non-null   object
 9   source         1432 non-null   object
dtypes: datetime64[ns](2), int64(5), object(3)
memory usage: 123.1+ KB

In [96]:
orders.isnull().sum()

order_id         0
customer_id      0
order_status     0
order_date       0
required_date    0
shipped_date     0
store_id         0
staff_id         0
extract_time     0
source           0
dtype: int64

In [81]:

# Convert 'order_date' to datetime format if the year is between 2000 and 2024, otherwise set it to None
orders['order_date'] = orders['order_date'].apply(lambda x: pd.to_datetime(x, format = "%Y/%m/%d") if int(x.split('-')[0]) >= 2000 and int(x.split('-')[0]) <= 2024 else None)

# Drop rows where 'order_date' is None
orders = orders.dropna(subset=['order_date'])

In [94]:
orders.head()

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,extract_time,source
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,2024-04-30 13:07:13.382187,postgres
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6,2024-04-30 13:07:13.382187,postgres
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7,2024-04-30 13:07:13.382187,postgres
3,4,175,4,2016-01-03,2016-01-04,2016-01-05,1,3,2024-04-30 13:07:13.382187,postgres
4,5,1324,4,2016-01-03,2016-01-06,2016-01-06,2,6,2024-04-30 13:07:13.382187,postgres

In [93]:
orders = orders.dropna(subset=['shipped_date'])

# Convert 'shipped_date' to datetime format
orders['shipped_date'] = orders['shipped_date'].apply(lambda x: pd.to_datetime(x, format="%Y-%m-%d") if x and int(x.split('-')[0]) >= 2000 and int(x.split('-')[0]) <= 2024 else None)

# Drop rows where 'shipped_date' is None
orders = orders.dropna(subset=['shipped_date'])

# Calculate the average days taken to deliver the order
average_delivery_time = (orders['shipped_date'] - orders['order_date']).mean()

# Replace null values in 'shipped_date' with the calculated average days plus the order date
orders['shipped_date'] = orders.apply(lambda row: row['order_date'] + average_delivery_time if pd.isnull(row['shipped_date']) else row['shipped_date'], axis=1)

In [97]:
duplicate_count = orders.duplicated().sum()
print(duplicate_count)

0

In [98]:
import os

# Define the parent directory path
parent_directory = '../staging_1'

# Define the subdirectory path
subdirectory = 'orders'

# Create the parent directory if it doesn't exist
if not os.path.exists(parent_directory):
    os.makedirs(parent_directory)
    print(f"Parent directory '{parent_directory}' created.")

# Create the subdirectory if it doesn't exist
if not os.path.exists(os.path.join(parent_directory, subdirectory)):
    os.makedirs(os.path.join(parent_directory, subdirectory))
    print(f"Subdirectory '{subdirectory}' created.")

# Define the file path where you want to save the CSV file
file_path = os.path.join(parent_directory, subdirectory, 'orders.csv')

# Save the DataFrame as a CSV file
orders.to_csv(file_path, index=False)

print(f"CSV file saved successfully in the '{subdirectory}' subfolder within the '{parent_directory}' folder.")

Subdirectory 'orders' created.
CSV file saved successfully in the 'orders' subfolder within the '../staging_1' folder.