In [1]:
import pandas as pd

In [2]:
staffs=pd.read_csv('../Landing/staffs/staffs.csv')

In [3]:
staffs.head()

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,Extract Time,Source
0,1,Fabiola,Jackson,fabiola.jackson@bikes.shop,NaN,1,NaN,NaN,2024-04-30 13:25:01.211508,datalake
1,2,Mireya,NaN,mireya.copeland@bikes.shop,(831) 555-5555,1,1.0,1.0,2024-04-30 13:25:01.211508,datalake
2,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1.0,2.0,2024-04-30 13:25:01.211508,datalake
3,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1.0,2.0,2024-04-30 13:25:01.211508,datalake
4,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2.0,1.0,2024-04-30 13:25:01.211508,datalake

In [4]:
staffs.isnull().sum()
#i thik the nulls here are okay

staff_id        0
first_name      0
last_name       1
email           1
phone           2
active          0
store_id        1
manager_id      1
Extract Time    0
Source          0
dtype: int64

In [6]:
duplicate_count = staffs.duplicated().sum()
print(duplicate_count)

0

In [7]:
import os

# Define the parent directory path
parent_directory = '../staging_1'

# Define the subdirectory path
subdirectory = 'staffs'

# Create the parent directory if it doesn't exist
if not os.path.exists(parent_directory):
    os.makedirs(parent_directory)
    print(f"Parent directory '{parent_directory}' created.")

# Create the subdirectory if it doesn't exist
if not os.path.exists(os.path.join(parent_directory, subdirectory)):
    os.makedirs(os.path.join(parent_directory, subdirectory))
    print(f"Subdirectory '{subdirectory}' created.")

# Define the file path where you want to save the CSV file
file_path = os.path.join(parent_directory, subdirectory, 'staffs.csv')

# Save the DataFrame as a CSV file
staffs.to_csv(file_path, index=False)

print(f"CSV file saved successfully in the '{subdirectory}' subfolder within the '{parent_directory}' folder.")

CSV file saved successfully in the 'staffs' subfolder within the '../staging_1' folder.