In [1]:
import pandas as pd

In [2]:
stores=pd.read_csv('../Landing/stores/stores.csv')

In [4]:
stores.head()

,store_id,store_name,phone,email,street,city,state,zip_code,Extract Time,Source
0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,NaN,2024-04-30 13:25:01.164185,datalake
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-04-30 13:25:01.164185,datalake
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-04-30 13:25:01.164185,datalake

In [5]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      3 non-null      int64
 1   store_name    3 non-null      object
 2   phone         3 non-null      object
 3   email         2 non-null      object
 4   street        3 non-null      object
 5   city          3 non-null      object
 6   state         3 non-null      object
 7   zip_code      2 non-null      float64
 8   Extract Time  3 non-null      object
 9   Source        3 non-null      object
dtypes: float64(1), int64(1), object(8)
memory usage: 368.0+ bytes

In [7]:
stores.isnull().sum()
#i think that the email and zip_code will casue no problem if i left themm null

store_id        0
store_name      0
phone           0
email           1
street          0
city            0
state           0
zip_code        1
Extract Time    0
Source          0
dtype: int64

In [9]:
duplicate_count = stores.duplicated().sum()
print(duplicate_count)

0

In [10]:
import os

# Define the parent directory path
parent_directory = '../staging_1'

# Define the subdirectory path
subdirectory = 'stores'

# Create the parent directory if it doesn't exist
if not os.path.exists(parent_directory):
    os.makedirs(parent_directory)
    print(f"Parent directory '{parent_directory}' created.")

# Create the subdirectory if it doesn't exist
if not os.path.exists(os.path.join(parent_directory, subdirectory)):
    os.makedirs(os.path.join(parent_directory, subdirectory))
    print(f"Subdirectory '{subdirectory}' created.")

# Define the file path where you want to save the CSV file
file_path = os.path.join(parent_directory, subdirectory, 'orders.csv')

# Save the DataFrame as a CSV file
stores.to_csv(file_path, index=False)

print(f"CSV file saved successfully in the '{subdirectory}' subfolder within the '{parent_directory}' folder.")

Subdirectory 'stores' created.
CSV file saved successfully in the 'stores' subfolder within the '../staging_1' folder.